* {
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Marck Script', cursive;
    font-size: 20px;
}

p{
    padding:30px 0;
}

a {
    text-decoration: none;
    color: inherit;
}

form{
    padding: 10px 0;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    word-wrap: break-word;
}

input, button{
    font-family: 'Marck Script', cursive;
    font-size: 18px;
    padding-left: 5px;
}

.container{
   box-sizing: content-box;
   padding: 20px 5px;
}

.wrapper, .edit-mode {
   max-width: 500px;
   margin: 0 auto;
   padding: 30px 20px 20px 60px;
   background-image: url("../img/todo-bg.jpg");
   border: 1px solid lightgrey;
   box-shadow: 0 0 5px grey;
}

.complete span{
   text-decoration: line-through;
}

.error {
   color: red;
   height: 16px;
   font-size: 18px;
}

.edit-mode {
   position: absolute;
   bottom:30%;
   left: 0;
    margin-left: -60px;
    margin-bottom: -50px;
   z-index: 3;
}

.overlay {
    position: absolute;
    z-index: 2;
    background-color: grey;
    opacity: 0.4;
}

.login, .password, .email,.btn-style, .item{
    width: 220px;
}

.task{
   width:50%;
}

.align-left {
    width:65%;
}

.row{
   margin-bottom: 15px;
}

.copyright {
    font-size: 12px;
    margin-top: 50px;
    text-align: center;
    overflow: hidden;
}

.copyright span{
    float: left;
}

.copyright span+span{
    float: right;
}

#tasks-list li{
    line-height: 30px;

}
#tasks-list li{
    position: relative;
}

#tasks-list span{
    position: relative;
}

.clear-fix:after {
    content: " ";
    display: table;
    clear: both;
}

#tasks-list .align-left{
    float: left;
}

.align-right {
    float: right;
}

#tools, #filter {
    margin: 10px 0;
    padding: 10px 0;
}

#tools{
    border-bottom: 1px solid grey;
}

#tools button{
    float: right;
}

#filter{
    border-top: 1px solid grey;
    text-align: center;
}
#filter button {
    width: 70px;
}

#filter button + button{
    margin-left: 15px;
}

.selected {
    font-weight: bold;
}

.btn-block {
    margin: 10px 0;
    text-align: center;
}
.btn-block button,.btn-block input {
    width: 62px;
}


#tasks-list .edit,
#tasks-list .delete{
    visibility:hidden;
}

#tasks-list li:hover .edit,
#tasks-list li:hover .delete{
    visibility:visible;
}

#tasks-list li.editing .edit,
#tasks-list li.editing .delete{
    visibility:hidden;
}

#logout-block{
    text-align: right;
    margin: 20px 0 0;
}

.shared span::after {
    content: "";
    background: url("../img/share_icon.png");
    width: 22px;
    height: 22px;
    position: absolute;
    right: -35px;
    top: 2px;
}

