* {
    box-sizing: border-box;
}

body{
    margin: 0;
    /*font-family:'Dancing Script', cursive, 'Marck Script', cursive;*/
    font-family: 'Marck Script', cursive;
    font-size: 20px;
}
p{
    padding:50px 0 30px;
}

a {
    text-decoration: none;
    color: inherit;
}

form{
    padding: 10px 0;
}

ul {
    list-style: none;
}

input, button{
    font-family: 'Marck Script', cursive;
    font-size: 18px;
    padding-left: 5px;
}

.container{
   box-sizing: content-box;
   padding: 50px;
}

.wrapper, .signUp-mode, .share-mode {
   width: 600px;
   margin: 0 auto;
   padding: 30px 20px 20px 60px;
   background-image: url("todo-bg.jpg");
   border: 1px solid lightgrey;
   box-shadow: 0 0 5px grey;
}

.complete span{
   text-decoration: line-through;
}

.error {
   color: red;
   height: 16px;
   font-size: 18px;
}
.model-error {
    padding-left: 30px;
}

.signUp-mode, .share-mode {
   position: fixed;
   top:175px;
   left: 50%;
   margin-left: -250px;
   z-index: 3;
}


.login, .password, .email,.btn-style{
    width: 220px;
}
.item {
    width: 315px;
}

.task{
   width: 375px;
}

.row{
   margin-bottom: 15px;
}

.copyright {
    font-size: 12px;
    margin-top: 50px;
    text-align: center;
    overflow: hidden;
}

.copyright span{
    float: left;
}

.copyright span+span{
    float: right;
}

#tasks-list li{
    line-height: 30px;

}
#tasks-list span{
    position: relative;
}

.block:after {
    content: " ";
    display: table;
    clear: both;
}

#tasks-list .align-left, .align-right{
    float: left;
}
.align-left {
    width: 315px
}

.share{
    vertical-align: middle;
}
.share img {
    margin: 1px 2px 2px 2px;
    display: table-cell;
}

#tasks-list .edit,
#tasks-list .delete,
#tasks-list .share {
    visibility:hidden;
}

#tasks-list li:hover .edit,
#tasks-list li:hover .delete,
#tasks-list li:hover .share{
    visibility:visible;
}

#tasks-list li.complete:hover .edit,
#tasks-list li.complete:hover .share{
    visibility:hidden;
}

#logout-block{
    text-align: right;
}

.shared span::after {
    content: "";
    background: url("share_icon.png");
    width: 22px;
    height: 22px;
    position: absolute;
    right: -35px;
    top: 2px;
}


